body {
    margin: 0;
    background: #f2f2f2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.calculator {
    background: #1c2230;
    padding: 22px;
    border-radius: 22px;
    width: 270px;
}

/* DISPLAY */
.display {
    width: 100%;
    height: 65px;
    background: #3c427a;
    border: none;
    border-radius: 14px;
    margin-bottom: 18px;
    color: white;
    font-size: 24px;
    padding: 14px;
    box-sizing: border-box;
    text-align: right;
}

/* GRID */
.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
}

/* BUTTON BASE */
button {
    height: 50px;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
}

/* NUMBERS */
.num {
    background: #2a3042;
    color: white;
}

/* OPERATORS */
.op {
    background: #f4a62a;
    color: white;
}

/* BACKSPACE */
.back {
    background: #2a3042;
    color: white;
    font-size: 18px;
}

/* EQUAL */
.equal {
    background: #d9d9d9;
    color: black;
    border-radius: 28px;
    padding-left: 14px;
    padding-right: 14px;
}


/* CLEAR BUTTON */
.clear {
    background: #f4a62a;
    color: white;
}
